/* CUSTOM PROPERTIES */
:root {
	--tag-bgcolor-1: #f50909;
	--tag-bgcolor-2: #cca629;
  --tag-bgcolor-3 : #0b773c;
  --tag-bgcolor-4 : #3f76f5;  
  --tag-bgcolor-5 : #ce7df3;  
  --tag-bgcolor-6 : #820c99;  
  --tag-bgcolor-7 : #ca3eac;  
  --tag-bgcolor-8 : #68a063;  
  --tag-bgcolor-9 : #31a8c9;  
  --tag-bgcolor-10 : #db7c2e;  
  --tag-bgcolor-11 : #a0522d; 
  --main-blue: #4747f7;
  --main-blue-hover: #3636d1;
  --remove-btn-color: #ff0000;
  --remove-btn-hover: #d60000; 
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea,
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

/* COMMON */
/* Layout */
.container {
  margin: 0 auto;
  width: 70%; 
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  column-gap: 20px;
  flex-wrap: wrap;
}

/* Input Container */
.input-container {
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
}

/* HEADER */
header {
  background-color: #ececec;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar */
nav ul {
  display: flex;
  gap: 30px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

/* Nav Active */
nav .active {
  color: #ffffff;
  background-color: var(--main-blue);
  padding: 10px 18px;
  border-radius: 25px;
}

/* PAGE HEADER */
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

/* MAIN */
/* FORM */
/* Input Labels */
label {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Inputs */
/* General */
textarea,
select,
input {
  width: 50%;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}

/* Input Tags List */
.post-tags input {
  margin-bottom: 15px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 100px;
}

.inputTag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}

/* Filter Input */
.filter {
  margin-bottom: 15px;
  border: 1px dotted #000000;
}

option {
  text-transform: capitalize;
}

/* BUTTONS */
/* General */
.btn {
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Submit Button */
.submit {
  background-color: var(--main-blue);
  width: 50%;
  padding: 10px 15px;
  border: none;
  border-radius: 24px;
  font-size: 1.3rem;
  margin-bottom: 20px;
  align-self: center;
  transition: scale 0.4s ease-in-out;
}

/* Add New Button */
.btn-new {
  background-color: var(--main-blue);
  width: 200px;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 21px;
  transition: scale 0.4s ease-in-out;
  display: block;
}

/* Back Button */
.btn-back {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 28px;
  cursor: pointer;
}

/* Detail */
.btn-detail {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: var(--main-blue);
  border-radius: 50%;
  border: none;
  line-height: 45px;
}

/* Remove Button */
.remove {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: var(--remove-btn-color);
  border-radius: 50%;
  border: none;
}

/* Button Hovers */
.btn-new:hover,
.btn.submit:hover {
  background-color: var(--main-blue-hover); 
  scale: 1.1;
}

.btn-back:hover {
  background-color: #333232;
}

.btn-detail:hover {
  background-color: var(--main-blue-hover);
}

.btn.remove:hover {
  background-color: var(--remove-btn-hover); 
}

/* LINKS */
a {
  text-align: center;
  text-decoration: none;
}

/* CARD */
.card {
  width: calc((100% - 20px) / 2);
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px 10px 5px 10px;
  margin-bottom: 20px;
}

/* Card Image */
.card-image img {
  width: 100%;
  border-radius: 6px;
}

/* Card Buttons */
.card-buttons {
  display: flex;
  gap: 10px;
}

/* Card Tags */
.tag {
  border-radius: 24px;
  padding: 6px 10px;
  font-weight: bold;
  border: none;
  color: #ffffff;
  user-select: none;
}

.tags-list {
  display: flex; 
  flex-wrap: wrap; 
  gap: 5px; 
  padding-top: 15px;
}

/* Tag Colors */
.dolce {
  background-color: var(--tag-bgcolor-1);
}

.fritto {
  background-color: var(--tag-bgcolor-2);
}

.semplice {
  background-color: var(--tag-bgcolor-3);
}

.colazione {
  background-color: var(--tag-bgcolor-4);
}

.tradizionale {
  background-color: var(--tag-bgcolor-5);
}

.snack {
  background-color: var(--tag-bgcolor-6);
}

.salato {
  background-color: var(--tag-bgcolor-7);
}

.vegetariano {
  background-color: var(--tag-bgcolor-8);
}

.primo {
  background-color: var(--tag-bgcolor-9);
}

.colorato {
  background-color: var(--tag-bgcolor-10);
}

.rustico {
  background-color: var(--tag-bgcolor-11);
}

/* CARD */
/* Card Heading */
.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

/* Card Content */
.card-content {
  line-height: 1.5;
  margin-bottom: 20px;
  word-wrap: break-word;
}

/* Empty Post List */
.empty-list {
  font-size: 1.2rem;
  font-style: italic;
}

/* FOOTER */
footer {
  background-color: #000000;
  color: #ffffff;
}

h4 {
  text-align: center;
  padding: 20px 0;
  font-size: 1.3rem;
}

/* ////////////////// */
/* // MEDIA QUERY // */
/* //////////////// */
/* Small Laptop */
@media screen and (max-width: 1024px) {
  /* Card */
  .card {
    width: 100%;
  }

  /* Button */
  .submit {
    width: 80%;
  }
}

/* Mobile */
@media screen and (max-width: 425px) {
  /* Layout */
  .container {
    width: 90%;
    flex-direction: column;
  }

  /* Header */
  header {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  /* Input */
  .post-tags {
    flex-direction: column;
    gap: 20px;
  }

  .tag-container {
    justify-content: center;
    margin-left: 0;
  }

  /* Filter Input */
  .filter {
    gap: 12px;
  }
}
